@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff4e50, #f9d423);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff6a00, #ee0979);
}
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ca1a1d #1f1f1f;
  -webkit-overflow-scrolling: auto !important;
  scroll-behavior: smooth !important;
  overflow-x: scroll !important;
}

@media (max-width: 768px) {
  .scrollbar-custom {
    -webkit-overflow-scrolling: auto !important;
    overflow-x: scroll !important;
    position: relative;
  }

  .scrollbar-custom::-webkit-scrollbar {
    height: 6px;
    display: block !important;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff4e50, #f9d423);
  }
}
